[MESSAGES CONTROL]
disable=
    line-too-long,
    consider-using-f-string,
    invalid-name,
    unused-variable,
    redefined-builtin,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-nested-blocks,
    broad-exception-caught,
    global-statement,
    no-member,
    ungrouped-imports,
    too-many-arguments,
    too-many-positional-arguments

[FORMAT]
indent-string='  '
